{% load static %}

<div class="container  m-0 p-0 " style="max-width: 100%;">
    <button id="theme-toggle" class="theme-button bg-light">
        <!-- <img src="img/theme.png" class="img-fluid w-100" title="" /> -->
        <img src="{% static 'assets/dnn/img/theme.png'%}" class="img-fluid w-100" title="" />
    </button>

    <div class="row pt-2">
        <div class="col-lg-3 col-md-3 row-content">
            <ul class="top-nav">
                <li class="top_nav_link">
                    <a href="{% url 'contact-us'%}"><i class="bi bi-person-square"></i></a>
                </li>
                <li class="top_nav_link">
                    <a href="/advertise_with_us"><i class="bi bi-badge-ad-fill"></i></a>
                </li>
                <li class="top_nav_link">
                    <a href="{% url 'registration'%}"><i class="bi bi-pencil"></i></a>
                </li>
                <li class="top_nav_link">
                    <a type="button" class="badge bg-primary text-white" data-bs-toggle="modal"
                        data-bs-target="#ModalSubscribe">
                        <i class="bi bi-bell"></i>
                    </a>
                </li>
                {% include 'inn/subscribe_model.html' %}
            </ul>
        </div>

        <div class="col-lg-9 col-md-9 row-content">
            <span></span>
        </div>
    </div>

    <!-- top nav end -->
    <div class="row header my-2" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-lg-4 col-md-12 col-sm-12 row-content">
            <div class="calender d-flex align-items-center">
                <a href="#" class="d-flex align-items-center text-decoration-none">
                    <i class="bi bi-calendar2-date mr-2"></i>
                    <span class="calender-text" id="currentDate"></span>
                </a>
            
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 row-content d-flex align-items-center justify-content-center">
            <div class="text-center mt-2" style="width: 400px;">
                <a href="#" class="text-center">
                    <img src="{% static 'assets/dnn/img/logo_dxb.png'%}" alt="Light Logo"
                        class="logo logo-light logo img-fluid w-100">
                    <img src="{% static 'assets/dnn/img/footer-logo.png'%}" alt="Dark Logo"
                        class="logo logo-dark logo img-fluid w-100">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 row-content">
            <ul class="top_search_section list-unstyled d-flex align-items-center mb-0">
                <!-- Search Button -->
                <li class="mr-3">
                    <a type="button" class="p-2 d-flex align-items-center" data-bs-toggle="modal"
                        data-bs-target="#ModalSearch">
                        <i class="bi bi-search" aria-hidden="true" style="font-size: 16px; margin-right: 5px;"></i>
                        <p class="mb-0">Search</p>
                    </a>
                </li>

                <!-- User Dashboard or Login/Logout -->
                {% if request.user.username %}
                <li class="mr-3">
                    <a class="nav-link text-body" href="/user-dashboard">Dashboard</a>
                </li>
                <li class="mr-3">
                    <a class="nav-link text-body" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="mr-3">
                    <a class="nav-link text-body" href="/login">Sign In</a>
                </li>
                {% endif %}
            </ul>

            <!-- Modal Search -->
            <div class="modal fade" id="ModalSearch" tabindex="-1" aria-labelledby="ModalSearchLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalSearchLabel">Search</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                style="color: red; font-weight: bold; background-color: transparent; border: none; width: 40px; height: 40px; padding: 0px;">
                                X
                            </button>

                        </div>
                        <div class="modal-body">
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="title" class="form-control" placeholder="Search for posts..."
                                    required>
                                <button type="submit" class="btn btn-primary mt-3 w-100"
                                    style="background-color: #4891cd;">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-border">
        <nav class="navbar navbar-expand-lg navbar-dark py-2 py-lg-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    {% for link in Blogcat %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ link.cat_name }}</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            {% for sublink in link.sub_category_set.all %}
                            <a href="/{{ link.cat_slug }}/{{ sublink.subcat_slug }}" class="dropdown-item">
                                {{ sublink.subcat_name }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="nav-border sticky-nav" id="stickyNav">
    <nav class="navbar navbar-expand-lg navbar-dark py-2 py-lg-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                {% for link in Blogcat %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ link.cat_name }}</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        {% for sublink in link.sub_category_set.all %}
                        <a href="/{{ link.cat_slug }}/{{ sublink.subcat_slug }}" class="dropdown-item">
                            {{ sublink.subcat_name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </nav>
</div>
</div>


<script>
window.addEventListener("scroll", function() {
    var stickyNav = document.getElementById("stickyNav");
    if (window.pageYOffset > 100) {
        stickyNav.style.display = "block";
    } else {
        stickyNav.style.display = "none";
    }
});

const getFormattedDate = () => {
    const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric' };
    const today = new Date();
    return today.toLocaleDateString('en-US', options);
};
document.getElementById('currentDate').innerText = getFormattedDate();
</script>


<style>
    .sticky-nav {
        display: none;
        position: fixed;
        top: 0;
        z-index: 9999;
        background: #4891cd;
        width: 100%;
        }
    .top-nav{
        margin: 0px 0px 0px 5px;
    }
    .top_nav_link {
        border-right: 1px solid #ddd;
        padding: 0px 10px;
        font-size: 19px;
    }
    .header a {
        font-size: 16px;
        font-weight: bold;
    }

    .header p {
        font-size: 17px;
        font-weight: bold;
    }

    .header i {
        font-size: 25px;
    }
    .nav-border{
        background: #4891cd;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0px !important;
        color: #fff !important;
    }
    .dropdown-menu {
        background-color: #4891cd !important;
    }
    .dropdown-item {
        background-color: #4891cd !important;
        color: #ffffff !important;
        min-width: 20rem;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        background-color: #4891cd !important;
        color: #ffffff !important;
    }
    @media (min-width:280px) and (max-width:667px){
        .header i {
            font-size: 12px;
          }
        .header a {
            font-size: 9px;
            
          }
          .header p {
            font-size: 12px;
            font-weight: normal;
          }
          .modal-content{
            max-width: 340px;
          }
    }
    @media (min-width: 767px) and (max-width: 992px) {
        .navbar {
            padding: 10px !important;
            background: #4891cd;
        }
    }
    @media (min-width: 280px) and (max-width: 667px) {
        .navbar {
            padding: 10px !important;
            background: #4891cd;
        }
    }
    @media (min-width:768px) and (max-width:1024px){
        .top_search_section{
            justify-content: space-between !important;
        }
        .calender{
            justify-content: space-between !important;
        }
   }
</style>
