<div class="my-1">
    <div class="row align-items-center mb-3">
        <div class="col-lg-6">
            <div class="heading-text">Must Watch Videos</div>
        </div>
        <div class="col-lg-6 text-right">
            <a href="/all-video-news/all" class="btn btn-sm view-all ">VIEW ALL ></a>
        </div>
    </div>
    <div class="bg-dark p-4 rounded">
        <div id="autoCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <!-- Carousel Items -->
                <div class="carousel-item active">
                    <div class="row g-3">
                        {% for CatVid in CatV|slice:":4" %}
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="ratio ratio-16x9 position-relative">
                                <a href="/video/{{CatVid.slug}}">
                                    <img class="img-fluid w-100 h-100 rounded"
                                        src="https://img.youtube.com/vi/{{CatVid.video_url}}/hqdefault.jpg"
                                        alt="{{CatVid.video_title}}" style="object-fit: cover;" />
                                </a>
                                <div class="overlay text-start p-2">
                                    <span class="badge" style="background-color: #448bc8;">{{ CatVid.News_Category }}</span>
                                    <small class="d-block text-white mt-1"><i class="fas fa-calendar-alt"></i> {{ CatVid.video_date|date }} | <i class="far fa-eye"></i> 
                                        {{CatVid.counter|add:CatVid.viewcounter }}</small>
                                </div>
                            </div>
                            <a class="d-block mt-2 text-white h6 text-truncate" href="/video/{{CatVid.slug}}">{{ CatVid.video_title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-3">
                        {% for CatVid in CatV|slice:"4:8" %}
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="ratio ratio-16x9 position-relative">
                                <a href="/video/{{CatVid.slug}}">
                                    <img class="img-fluid w-100 h-100 rounded"
                                        src="https://img.youtube.com/vi/{{CatVid.video_url}}/hqdefault.jpg"
                                        alt="{{CatVid.video_title}}" style="object-fit: cover;" />
                                </a>
                                <div class="overlay text-start p-2">
                                    <span class="badge" style="background-color: #448bc8;">{{ CatVid.News_Category }}</span>
                                    <small class="d-block text-white mt-1"><i class="fas fa-calendar-alt"></i> {{CatVid.video_date|date }} | <i class="far fa-eye"></i>
                                        {{CatVid.counter|add:CatVid.viewcounter }}</small>
                                </div>
                            </div>
                            <a class="d-block mt-2 text-white h6 text-truncate" href="/video/{{CatVid.slug}}">{{ CatVid.video_title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-3">
                        {% for CatVid in CatV|slice:"8:" %}
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="ratio ratio-16x9 position-relative">
                                <a href="/video/{{CatVid.slug}}">
                                    <img class="img-fluid w-100 h-100 rounded"
                                        src="https://img.youtube.com/vi/{{CatVid.video_url}}/hqdefault.jpg"
                                        alt="{{CatVid.video_title}}" style="object-fit: cover;" />
                                </a>
                                <div class="overlay text-start p-2">
                                    <span class="badge" style="background-color: #448bc8;" >{{ CatVid.News_Category }}</span>
                                    <small class="d-block text-white mt-1"><i class="fas fa-calendar-alt"></i> {{ CatVid.video_date|date }} | <i class="far fa-eye"></i> 
                                        {{CatVid.counter|add:CatVid.viewcounter }}</small>
                                </div>
                            </div>
                            <a class="d-block mt-2 text-white h6 text-truncate" href="/video/{{CatVid.slug}}">{{ CatVid.video_title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#autoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#autoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

