{% extends 'base.html' %}
{% block body %}
{% load static %}

{% comment %} --------articale-start------ {% endcomment %}
{% include "articale.html" %} 
{% comment %} --------articale--end----- {% endcomment %}

<div class="container mt-3">
    <div class="row">
        <!-- collam-left -->
        {% comment %} <div class="col-lg-3">
            {% include "leftcollam.html" %} 
         </div> {% endcomment %}
        <div class="col-lg-9 scrollrs"><!-- collam-left !-->         
            <div class="position-relative mb-3">
            <h1>{{Vnews.video_title}}</h1>
                <img class="img-fluid w-100" src="../upload/{{Vnews.post_image}}" style="object-fit: cover;" alt="{{Blog.post_cat|lower}}">
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""  frameborder="0" class="lazy entered loaded ifremvid" data-src="https://www.youtube.com/embed/{{Vnews.video_url}}" data-ll-status="loaded" src="https://www.youtube.com/embed/{{Vnews.video_url}}"></iframe>
                <div class="bg-white border-top-0 p-4">
                    <p class="m-0">{{Vnews.video_des|safe}}</p>
                    <div class="d-flex align-items-center">
                        <small ><i class="fas fa-calendar-alt"></i> {{Vnews.video_date|date}}</small>
                        <small class="ml-3"> <i class="fas fa-clock"></i> {{ Vnews.video_date|time }}</small>
                            <small class="ml-3"><i class="far fa-eye mr-2"></i>{{Vnews.counter|add:Vnews.viewcounter}}</small>
                            {% comment %} <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small> {% endcomment %}
                            
                    </div>
                        <p class="m-0">{{Vnews.video_tag|safe}}</p>
                </div>
                
            </div>
            <div class="col-lg-12 mb-3 ">
                {% for adledb in adtop %}
                <a href=""><img class="img-fluid w-100" src="../upload/{{adledb.ad_image}}" alt=""></a>
                {% endfor %}
                </div>
        </div>
        
        <div class="col-lg-3 scrollrs"><!-- collam-right !-->
            {% include "rightcollam.html" %} 
        </div>
    </div>
</div>

    <!-- Featured News Slider Start -->
    <div class="container-fluid ">
        <div class="container">
            <div class="row  border-t border-b">
                {% for Blog in BlogData %}
            <div class="col-lg-3">
                <div class="position-relative mb-3 mt-3">
                    <p><a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="/{{Blog.slug}}">{{Blog.post_title}}</a></p>
                    <img class="img-fluid w-100 sliderimg" src="../upload/{{Blog.post_image}}">
                    <div class="bg-white border border-top-0 p-4">
                        <p  style="min-height:55px">
                            {{Blog.post_short_des|slice:":270"|safe}}
                        </p>
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="/{{Blog.slug}}">Read More</a>
                            <a class="text-body" href="">
                                <small ><i class="fas fa-calendar-alt"></i> {{Blog.post_date|date}}</small>
                        <small class="ml-3"> <i class="fas fa-clock"></i> {{ Blog.post_date|time }}</small>
                    </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!-- Featured News Slider End -->
    

    {% endblock %}  